
@{
    ViewBag.Title = "Index";
    List<WebShopping.Models.Product> ps = Model;
}
<h2>ショッピングカート</h2>
<style>
    td
    {
        border-top:2px solid;
        border-bottom:2px solid;
        background-color:aliceblue;
    }
    #count{width:20px;}
    #ischeck{width:40px;}
    #lable1{background-color:cornsilk;}
</style>
@using (Html.BeginForm("Complete", "Order"))
{
    <div id="show">
        <table id="products"style="border-color:ActiveCaption;">
            @foreach(var item in ps)
            {
                <tr style="border-color:ActiveCaption;border:2px solid">
                    <td>
                        @Html.CheckBox("ischeck", new { value=item.Pid,onchange="ComputResult()"})
                    </td>
                    <td>
                        <img style="width:60px;height:60px;"src="@Url.Content(item.Image)"/>
                    </td>
                    <td>
                        @item.PName
                    </td>
                    <td style="width:100px;text-align:center">
                        @Html.Label(item.Pid.ToString(), item.Price.ToString(), new { id="lable1"})
                    </td>
                    <td>
                        <input type="button"id="minus"onclick="Minus(this)"value="-"/>
                        <input width="20"id="count"type="text"value="1"/>                        
                        @*<input type="button"id="add"onclick="Add(this)"value="+"/>*@
                        <input type="button"id="add"onclick="Add(this)"value="+"/>
                    </td>
                    <td>
                        <a href="#"onclick="Remove(@item.Pid)">削除</a>
                    </td>
                </tr>
            }
            <tr id="s">
                <td id="ss">
                    <label>合計金額：</label>
                    <label id="allprice"style="text-align:right;padding-right:10px">0</label>
                    <label>合計個数：</label>
                    <label id="allcount"style="text-align:right;padding-right:10px">0</label>
                </td>
            </tr>
        </table>
        <input value="お会計"type="submit"/>
    </div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function Remove(pid) {
            var pids = new Array();
            var checks = new Array();
            var count = new Array();
            $("#products tr").each(function () {
                if ($(this).find("#ischeck").val() != pid && $(this).find("#ischeck").val()) {
                    if ($(this).find("#ischeck").is(":checked")) {
                        checks.push("1");
                    }

                    else {
                        checks.push("0");
                    }
                    pids.push($(this).find("#ischeck").val());
                    count.push($(this).find("#count").val());
                }
            });
            $.ajax(
                {
                    type: "post",
                    url: "/Cart/Remove",
                    data: { pid: pid, pids: pids, checks: checks, count: count },
                    datatype: "Json",
                    success: function (data) {
                        $("#show").html(data);
                    }
                })
        }
        function ComputResult()
        {
            var pids = new Array();
            var counts = new Array();
            var prices = new Array();
            $("#products tr").each(function()
            {
                if($(this).find("#ischeck").val())
                {
                    if($(this).find("#ischeck").is(":checked"))
                    {
                        pids.push($(this).find("#ischeck").val());
                        counts.push($(this).find("#count").val());
                        prices.push($(this).find("#prices").val());
                    }
                }
            });
            AllAjax(pids,counts,prices);
        }
        function Minus(minus)
        {
            var count=$(minus).parent("td").find("#count").val();
            var pids=$(minus).parent().parent().find("#ischeck").val();
            if(count>1)
            {
                count--;
                $(minus).parent("td").find("#count").val(count);
                urajax(pids,minus);
            }
        }
        function Add(minus)
        {
            var count=$(minus).prev("#count").val();
            var prices=$("#allprice").text();
            var pids=$(minus).parent().parent().find("#ischeck").val();
            if(count>0&&count<10)
            {
                count++;
                $(minus).prev("#count").val(count);
                Aajax(pids,minus);
            }
        }
        function Aajax(pids,minus)
        {
            $.ajax(
            {
                type:"post",
                url:"/Cart/Aajax",
                data:{pid:pids},
                datatype:"Json",
                success:function(data)
                {
                    if($(minus).find("#ischeck").is(":checked"))
                    {
                        alert("s");
                        var s=$("#allcount").text();
                        var ss=parseFloat(s)+1;
                        $("#allcount").text(ss);
                    }
                    var price=$(minus).parent().parent().find("#lable1").text();
                    var allnum=parseFloat(price)+parseFloat(data);
                    $(minus).parent().parent().find("#lable1").text(allnum);
                    $("#products tr").each(function()
                    {
                        if($(this).find("#ischeck").val())
                        {
                            if($(this).find("#ischeck").is(":checked"))
                            {
                                var allprice=$("#allprice").text();
                                var sum=parseFloat(allprice.split(':')[1])+parseFloat(data);
                                $("#allprice").text("合計金額："+sum);
                            }
                        }
                    });
                }
            })
        }
        function urajax(pids,minus)
        {
            $.ajax(
                {
                    type: "post",
                    url: "/Cart/Aajax",
                    data: { pid: pids },
                    datatype: "Json",
                    success:function(data)
                    {
                        if($(minus).find("#ischeck").is(":checked"))
                        {
                            alert("-");
                            var s = $("#allcount").text();
                            var ss = parseFloat(s) - 1;
                            $("#allcount").text(ss);
                        }
                        var price=$(minus).parent().parent().find("#lable1").text();
                        var allnum=parseFloat(price)-parseFloat(data);
                        $(minus).parent().parent().find("#lable1").text(allnum);
                        $("#products tr").each(function()
                        {
                            if($(this).find("#ischeck").val())
                            {
                                if($(this).find("#ischeck").is(":checked"))
                                {
                                    var allprice=$("#allprice").text();
                                    var sum=parseFloat(allprice.split(':')[1])-parseFloat(data);
                                    $("#allprice").text("合計金額："+sum);
                                }
                            }
                        });
                    }
                })
        }
        function AllAjax(pids,counts)
        {
            $.ajax(
            {
                type:"post",
                url:"/Cart/Ajaxplay",
                data:{pid:pids,count:counts},
                datatype:"Json",
                success:function(data)
                {
                    var allprice=$("#allprice").text();
                    var strs=data.split('|');
                    var price="合計金額："+strs[0];
                    var count=strs[1];
                    $("#allprice").text(price);
                    $("#allcount").text(count);
                }
            })
        }        
          

    </script>
}

