
@{
    List<WebShopping.Models.Product> ps = Model;
    List<string> check = ViewBag.Check;
    List<string> counts = ViewBag.counts;
    int i = 0;
    double allprice = 0;
    int count = 0;
}
<table id="products" style="border-color:ActiveCaption;">
    @foreach (var item in ps)
    {
        <tr style="border-color:ActiveCaption;border:2px solid">
            <td>
                @if (check[i] == "0")
                {
                    @Html.CheckBox("ischeck", new { value = item.Pid, onchange = "ComputResult()" })
                }
                else
                {
                    allprice += item.Price;
                    count++;
                    @Html.CheckBox("ischeck", true, new { value = item.Pid, onchange = "ComputResult()" })
                }
            </td>
            <td>
                <img style="width:60px;height:60px;" src="@Url.Content(item.Image)" />
            </td>
            <td>
                @item.PName
            </td>
            <td>
                @Html.Label(item.Pid.ToString(), item.Price.ToString(), new { id = "lable1" })
            </td>
            <td>
                <input type="button" id="minus" onclick="Minus(this)" value="-" />
                <input width="20" id="count" type="text" value=@counts[i] />
                <input type="button" id="add" onclick="Add(this)" value="+" />
            </td>
            <td>
                <a href="#" onclick="Remove(@item.Pid)">削除</a>
            </td>
        </tr>
        i++;
    }
    <tr id="s">
        <td id="ss">
            <label id="allprice" style="text-align:right;padding-right:10px">
                @allprice
            </label>
            <label id="allcount" style="text-align:right;padding-right:10px">
                @count
            </label>
        </td>
    </tr>
</table>

<h2>_PartialPage1</h2>

